*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: sans-serif;
}
.font{
    font-family: 'Poppins', sans-serif;
}
#header{
    width:100%;
    height:17h;
}
.test{
    margin:7px;
    font-size:50px;
    color:black;
}
nav{
    display:flex;
    height:67px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    box-shadow:0 0 40px rgb(206, 209, 208);
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin:10px 30px;
}
nav ul li a{
    text-decoration:none;
    color:black;
    font-size:18px;
    position:relative;
    
} 
nav ul li a::after{
    content:'';
    width:100%;
    height:3px;
    background-color:black;
    transform: 0.5s;
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;

}
nav ul li a:hover::after{
    width:100%;
}
/*inter*/
.section{
    background-color: rgb(196, 226, 213);
    display:flex;
    justify-content: space-between;
    padding:50px;
    width:80%;
    margin:10rem auto;
    margin-bottom: 50px;
    margin-top:10px;
}
.section img{
   margin-top:55px;
    height:200px;
    width:250px;
}
.section h1{
    margin:0;
    color:black;
}
.section p{
    color:black;
    margin-right:15px;
    font-size: 20px;
}
/*polytechnic*/
.section1{
    background-color: rgb(196, 226, 213);
    display:flex;
    justify-content: space-between;
    padding:50px;
    width:80%;
    margin:10rem auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.section1 img{
   margin-top: auto ;
   margin-bottom: 40px;
    height:200px;
    width:250px;
}
.section1 h1{
    margin:0;
    color:black;
}
.section1 p{
    color:black;
    margin-right:15px;
    font-size: 20px;
}
/*ITI*/
.section2{
    background-color: rgb(196, 226, 213);
    display:flex;
    justify-content: space-between;
    padding:50px;
    width:80%;
    margin:10rem auto;
    margin-top: 50px;
    margin-bottom: 10px;
}
.section2 img{
   margin-top: auto;
    height:200px;
    width:250px;
}
.section2 h1{
    margin:0;
    color:black;
}
.section2 p{
    color:black;
    margin-right:15px;
    font-size: 20px;
}
/*paramedical*/
.section3{
    background-color: rgb(196, 226, 213);
    display:flex;
    justify-content: space-between;
    padding:50px;
    width:80%;
    margin:10rem auto;
    margin-top:50px;
    margin-bottom:10px;
}
.section3 img{
   margin-top: auto;
   margin-bottom: 40px;
    height:200px;
    width:250px;
}
.section3 h1{
    margin:0;
    color:black;
}
.section3 p{
    color:black;
    margin-right:15px;
    font-size: 20px;
}
.section4{
    background-color: rgb(196, 226, 213);
    display:flex;
    justify-content: space-between;
    padding:50px;
    width:80%;
    margin:10rem auto;
    margin-top:50px;
    margin-bottom:10px;
}

.section4 h1{
    margin:0;
    color:black;
}
.section4 p{
    color:black;
    margin-right:15px;
    font-size: 20px;
}
footer{
    background:#111;
    height:auto;
    width:100vw;
    font-family: 'Poppins', sans-serif;
    padding-top:40px;
    color:#fff;
    
}
.footer-content{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
.footer-content h3{
    font-size:1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width:500px;
    margin:10px auto;
    line-height:28px;
    font-size: 14px;
}
.socials{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content: center;
    margin:1rem 0 3rem 0;
}
.socials li{
    margin:0 10px;
}
.socials a{
    text-decoration: none;
    color:#fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.soials a:hover i{
    color:aqua;
}
.footer-bottom{
    background: #000;
    width:100vw;
    padding:20px 0;
    text-align:center;
}
.footer-bottom p{
    font-size:14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity:.4;
    font-weight: 200;
}