*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.body{
    background-color: white;
}
.font{
  font-family: 'Poppins', sans-serif;
}
#header{
  width:100%;
  height:17h;
}
.test1{
  margin:7px;
  font-size:50px;
  color:black;
  font-family: 'Poppins', sans-serif;
}
nav{
  display:flex;
  height:67px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
  box-shadow:0 0 40px rgb(206, 209, 208);
}
.left{
  font-size: 1.5rem;
}
nav ul li{
  list-style: none;
  display:inline-block;
  margin:10px 30px;
}
nav ul li a{
  text-decoration:none;
  color:black;
  font-size:18px;
  position:relative;
  
} 
nav ul li a::after{
  content:'';
  width:100%;
  height:3px;
  background-color:rgb(168, 26, 26);
  transform: 0.5s;
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;

}
nav ul li a:hover::after{
  width:100%;
}
/*--h1--*/
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
/*slideshow*/

.slider{
  overflow: hidden;
  width:100%;
  height:100vh;

}
.slider figure div{
  float:left;
  width:20%;
}
.slider figure img{
  width: 100%;
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float:left;
}
.slider figure{
  position:relative;
  width:500%;
  margin: 0;
  animation:animate 10s infinite;
}
@keyframes animate{
  0%{left:0%;}
  10%{left:0%;}
  12%{left:-100%;}
  /*22%{left:-100%;}
  /*24%{left:-200%;}
  /*34%{left:-200%;}
  36%{left:-300%;}
  46%{left:-300%;}
  48%{left:-400%;}
  58%{left:-400%;}
  60%{left:-300%;}*/
}
  .buttons {
    position: relative;
    top: -20px;
    font-family: 'Poppins', sans-serif;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color:black;
  }
  /*paragraph*/
  .test{
    font-size: 20px;
   
  }
  /*button{
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid blue;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
  }
  span{
    background: blue;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span{
    width: 100%;
  }*/
  .btn1{
    font-size: 15px;
    background: #2f2838;
    border:2px solid #fff;
    outline: none;
    border-radius: 8px;
    box-shadow:0 0 40px rgb(196, 226, 213);
    padding:10px;
    border-radius: 10px;
    margin:20px;
    color:#fff;
    letter-spacing: 1px;
    cursor:pointer;
  }
  #container{
    text-align: center;
  }
  /**{
    margin:0;
    padding:0;
    color: #d9d9d9;
    box-sizing:border-box;
}*/
/*footer{
    position:bottom;
    bottom:20px;
    width:100%;
    color:black;
    background:rgb(196, 226, 213);
   
}
.main-content{
    display:flex;
}
.main-content .box{
    flex-basis:50%;
    padding:10px 20px;
}
.box h2{
    font-size:1.125rem;
    font-weight:600;
    text-transform:uppercase;
}
.box .content{
    margin:20px 0 0 0;
}
.left .content p{
    text-align:justify;
    font-size: 20px;
}
.left .content .social{
    margin:20px 0 0 0;
}
.left .content  .social a {
    padding:0 2px;
}
.left .content .social a span{
    height:40px;
    width:40px;
    background: rgb(196, 226, 213);
    line-height:40px;
    text-align:center;
    font-size:20px;
    border-radius:5px;
    transition:0.3s;
}
.left .content .social a span:hover{
    background: #d9d9d9;
}*/
footer{
  background:#111;
  height:auto;
  width:100vw;
  font-family: 'Poppins', sans-serif;
  padding-top:40px;
  color:#fff;
  
}
.footer-content{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align:center;
}
.footer-content h3{
  font-size:1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width:500px;
  margin:10px auto;
  line-height:28px;
  font-size: 14px;
}
.socials{
  list-style:none;
  display:flex;
  align-items:center;
  justify-content: center;
  margin:1rem 0 3rem 0;
}
.socials li{
  margin:0 10px;
}
.socials a{
  text-decoration: none;
  color:#fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.soials a:hover i{
  color:aqua;
}
.footer-bottom{
  background: #000;
  width:100vw;
  padding:20px 0;
  text-align:center;
}
.footer-bottom p{
  font-size:14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity:.4;
  font-weight: 200;
}
